<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>plain</key>
	<string>text</string>
	<key>root</key>
	<dict>
		<key>a</key>
		<string>one</string>
		<key>arr</key>
		<array>
			<string>x</string>
			<string>y</string>
		</array>
		<key>b</key>
		<string>two</string>
	</dict>
</dict>
</plist>
